*{
    padding:0;
    margin:0;
    text-decoration:none;
    list-style:none;
    box-sizing:border-box;
}
body{
    font-family:montserrat;
    background:blue;
    height:80px;
    width:90%;
    overflow-x:hidden;
    font-weight:600px;
    padding-bottom:60px;
    max-width: 1300px;
}
  
   
  
  
  label.logo{
    color:white;
    font-size:35px;
    line-height:80px;
    padding:0 100px;
    font-weight:bold;
  }
 
  nav ul{
    float:right;
    margin-right:20px;
    color:white;
  }
  nav ul li {
    display:inline-block;
    line-height:80px;
    margin:0 5px;
    
  }
  
  nav ul li a{
    color:white;
    font-size:17px 13px;
    border-radius:3px;
    text-transform:uppercase;
  }

  .active,a:hover{
    background:#1b9bff;
    transition:5s;
    
  }

.checkbtn{
    font-size:30px;
    color:white;
    float:right;
    line-height:80px;
    margin-right:40px;
    cursor:pointer;
    display:none;
}
#check{
  display:none;
}
@media (max-width:952px){
  label.logo{
    font-size:30px;
    padding-left:50px;

  }
  nav ul li a{
    font-size:8px;
  }
}
@media(max-width:858px){
  .checkbtn{
    display:block;
  }

ul{
  position:fixed;
  width:100%;
  height:100vh;
  background:#2c3e50;
  top:80px;
  left: -100px;
  text-align:center;
  transition:all .5s;
}
nav ul li{
  display:block;
  margin:50px 0;
  line-height:30px;
}
nav ul li a{
  font-size:20px;
}
a:hover,a.active{
  background:none;
  color:#0082e6;
}
#check:checked~ul{
  left:0;
}
}


.wrap{
    position:absolute;
    top:0.5%;
    right:0.5%;
    bottom:25%;
    transform:translate(-25,-25)
    
}
.menu{
    width:20px;
    height:4px;
    background-color:#000;
    margin:6px 0;
}

.container{
  width:10px;
  height:100vh;
  background:#ffA500;
  display:flex;
  align-items:wrap;
 
  
}



.swiper{
  width:50%;
  height:fit-content;
  display:flex;
  align-items:wrap;
  justify-content: center;
}
.swiper-slide img{
  width:95%;
  height:45vh;
  display:flexbox;
  display: top;
}

.swiper .swiper-button-prev, .swiper.swiper-button-next{
color:white;
object-fit: scale-down;
}
.swiper .swiper-pagination-bullet-active{
  background:#fff;
  float:inherit;


}

.heading{
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  text-align:center;
  margin:100px auto;


  
}
.heading h1{
  font-size:50px;
  color:#000;
  margin-bottom:50px;
  position:relative;
}



.heading p{
  font-size:24px;
  color:white;
  margin-bottom:35px;
}

.container{
  width:90%;
  margin:0 auto;
  padding:10px 20px;
}
.container2{
  width:100%;
  height:100vh;
  background:#000;
  
}
.heading2 h2{
  font-size:30px;
  color:yellow;
  float: right;
  padding:60px;
  margin:50px;
  
}
.heading2 img{
  width:35.5%;
  height:558px;
  object-fit:scale-up;
  padding:50px;
  margin:10px;
  
  
  
}
.heading2 p1{
  font-size:18px;
  color:white;
  float:right;
  margin:2px;
  padding:4px;
  font-weight: bold;
  text-wrap:right 50px; 
  justify-content:space-between;
  align-items:center;
  margin:75 auto;
  text-align:center;
  
}
.title h1{
  text-align:center;
  padding-top:50px;
  font-size:42px;
}
.tittle h1::after{
  content:"";
  height:4px;
  width:230px;
  background-color:white;
  display:block;
  margin:auto;
}
.services{
  width:85%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin:75px auto;
  text-align:center;
  font-weight:bold;
}
.card{
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-direction:column;
  margin:0px 20px;
  padding:20px 20px;
  background-color:#efefef;
  border-radius:10px;
  cursor:pointer;
}
.card:hover {
  background-color:#b8d4de;
  transition: 0.4s ease;
}

.card.icon{
  font-size:35px;
  margin-bottom:10px;
}

.card h2{
  font-size:28px;
color:#c94f4f;
margin-bottom:20px;
}
.card p{
  font-size:17px;
  margin-bottom:30px;
  line-height:1.5;
  color:#5e5e5e;
}

.button{
  font-size:15px;
  text-decoration:none;
  color:#fff;
  padding: 8px 12px;
  border-radius:5px;
  letter-spacing:1px;
}
.button:hover{
  background-color:#c94f4f;
  transition:0.4s ease;
}

@media screen and (max-width: 940px){
  .services{
    display:flex;
    flex-direction:column;
  }
  .card{
    width:85%;
    display:flex;
    margin:20px 0px;
  }
}

/*FOOTER*/
.footer-main {
  width:100%;
  padding: 60px 0 100px;
  background-color:#fff;
  margin:50px;

}
.footer-main-flex{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}
.footer-testimony{
flex-basis:25%;
display:flex;
justify-content:center;
flex-wrap: wrap;

}
.footer-testimony img {
  width:60%;
  border-radius:100px;

}

.footer-testimony p {
  text-align:center;
  font-size: 20px;
  padding: 20px 20px 0;
  text-decoration:white ;
  font-weight: bolder;
 
}

.footer-getintouch{
  padding: 10px 20px;
  border: 4px solid #000;
  font-weight:900;
  margin:40px 0 60px;
  font-weight: bolder;
  transition: all ease-in-out 200ms;
}
.footer-getintouch:hover {
  border: 2px solid var(--site-color-01);
}

.footer-sitemap {
 flex-basis:100%;
 display:flex;
 font-weight: bold;
}
 .footer-sitemap a{
 line-height:30px;
 font-weight: bold;
 }

 footer-sitemap a:hover {
  opacity: 0.6;
  }

.footer-sitemap a {
line-height: 30px;
}

.footer-sitemap ul:nth-child(1) {
  border-left: 2px solid var(--site-color-01);
  padding-left: 30px;
}




.footer-sitemap ul:nth-child(1),
.footer-sitemap ul:nth-child(2) {
  flex-basis:180px;
 
 }

 .footer-sitemap ul:nth-child(3) {
  flex-basis:380px;
 }

 .footer-sitemap p {
  text-transform: uppercase;

  padding: 10px;

 }

 .footer-sitemap ul:nth-child(4) {
  flex-grow:1;
 }

 .footer-sitemap ul:nth-child(4) li {
 clear:both;
  float:right;
 }
 

 .social h3{
  width:100%;
  margin: 0 auto;
  text-align:center;
  padding:40px;
  padding-bottom: 0px;
  border-top: 1px solid #eee;
  margin-top: 50px;
  color: #eee;
  text-transform: capitalize;
  font-size:40px;
  text-transform: uppercase;
 }
 .social {
  display: flex;
  justify-content: center;
  margin-top: 8px;
 }
 .social a{
  font-size:28px;
  width: 45px;
  height:45px;
  line-height:45px;
  display:inline-block;
  border-radius:50px;
  border: 2px solid black;
  box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.4);
  padding:0px;
  color:#fff;
  opacity:0.7;
  transition: 0.3s ease-in-out;
  margin-top: 50px;
  text-align:center;
  
  
 }
 
 
 .social a:hover{
  opacity:0.9;
  box-shadow: 0px 1px 3px 2px rgba(255,255,255,0.9);
 }

.copyright{
  text-align:center;
  font-weight:900;
  opacity:0.8;
  font-size:40px;
  color:#fff;
  text-transform: uppercase;

}
@media ( max-width:767px) {
  .social.curve{
    left:5%;
    height:70%;
  }
}
.social h3{
  margin:0 auto;
  text-align:center;
  margin-top:10px;
  margin-bottom: 10px;
}

.Container5 {
  background-color:white;
  width:84%;
margin:0 auto;
margin:0 auto;
padding:20px 20px;
width:90%;
}

.image h4{
  font-size: large;
  text-align: center;
  text-transform: uppercase;
  color:black;
  font-weight: bold;
  font-size:30px;
}


.image img{
  height:200px;
  width:250px;
  padding:6px;
  margin:2px;
  
}
.image h5{
  font-size: large;
  text-align: center;
  text-transform: uppercase;
  color:black;
  font-weight: bold;
  padding:20px;
  font-weight: 900;
  font-size: 30px;
}

.image p5{
  text-align: center;
  text-transform:bold;
  color:#000;
  text-transform: uppercase;
  font-size: large;
  padding:2px;
  margin-bottom: 8cm;
  
}


.container4{
  background-color:rosybrown;
  width:84%;
margin:0 auto;
margin:0 auto;
padding:20px 20px;
width:90%;
}





.Eventplanning img{
  width:30%;
  height:200px;
  padding:4px;
  margin:2px;
  
}

.Eventplanning h8{

  font-size: large;
  text-align: center;
  text-transform: uppercase;
  color:black;
  font-weight: bold;
font-size: 30px;
}


.logo img{
  position:absolute;
  margin-top:10px;
  margin-left:10px;
  width: 90px;
  height: 65px;;
}






 



























 















































































  

















































 










